<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset
		name="component"
		label="COM_GETBIBLE_CONFIG_COMPONENT_FIELDSET_LABEL"
		description="COM_GETBIBLE_CONFIG_COMPONENT_FIELDSET_DESC">

		<field
			name="vdm_logo"
			type="radio"
			default="1"
			label="COM_GETBIBLE_CONFIG_PROJECT_VDM_LOGO_LABEL"
			description="COM_GETBIBLE_CONFIG_PROJECT_VDM_LOGO_DESC">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>
		<field
			name="vdm_link"
			type="radio"
			default="1"
			label="COM_GETBIBLE_CONFIG_PROJECT_VDM_FRONT_LABEL"
			description="COM_GETBIBLE_CONFIG_PROJECT_VDM_FRONT_DESC">
			<option
				value="0">JHIDE</option>
			<option
				value="1">JSHOW</option>
		</field>
		<field
			name="vdm_name"
			type="hidden"
			default="getBible.net"
			size="50"
			readonly="true"
			class="readonly">
		</field>
		<field
			name="vdm_url"
			type="hidden"
			default="http://getbible.net/"
			size="50"
			readonly="true"
			class="readonly">
		</field>
		<field
			name="vdm_owner"
			type="hidden"
			default="Llewellyn van der Merwe"
			size="50"
			readonly="true"
			class="readonly">
		</field>
	</fieldset>
	
	<fieldset
		name="app"
		label="COM_GETBIBLE_CONFIG_APP_FIELDSET_LABEL"
		description="COM_GETBIBLE_CONFIG_APP_FIELDSET_DESC">
		
		<field name="auto_loading_chapter"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_GETBIBLE_CONFIG_AUTO_LOADING_CHAPTERS_LABEL"
        	description="COM_GETBIBLE_CONFIG_AUTO_LOADING_CHAPTERS_DESC">
			<option
				value="1">COM_GETBIBLE_CONFIG_YES</option>
			<option
				value="0">COM_GETBIBLE_CONFIG_NO</option>
		</field>
		
		<field name="app_mode"
			type="radio"
			class="btn-group"
			default="1"
			label="COM_GETBIBLE_CONFIG_APP_MODE_LABEL"
        	description="COM_GETBIBLE_CONFIG_APP_MODE_DESC">
			<option
				value="1">COM_GETBIBLE_CONFIG_STREAM</option>
			<option
				value="2">COM_GETBIBLE_CONFIG_BOOK</option>
		</field>
		
		<field name="toolbar"
			type="radio"
			class="btn-group"
			default="1"
			label="COM_GETBIBLE_CONFIG_TOOLBAR_LABEL"
        	description="COM_GETBIBLE_CONFIG_TOOLBAR_DESC">
			<option
				value="1">COM_GETBIBLE_CONFIG_FIXED</option>
			<option
				value="2">COM_GETBIBLE_CONFIG_STICKY</option>
		</field>
		
		<field name="line_mode"
			type="radio"
			class="btn-group"
			default="1"
			label="COM_GETBIBLE_CONFIG_LINE_MODE_LABEL"
        	description="COM_GETBIBLE_CONFIG_LINE_MODE_DESC">
			<option
				value="1">COM_GETBIBLE_CONFIG_NEWLINE</option>
			<option
				value="2">COM_GETBIBLE_CONFIG_CONTINUES</option>
		</field>
		
		<field name="font_small" 
			type="integer" 
			default="14" 
			label="COM_GETBIBLE_CONFIG_FONT_SMALL_LABEL" 
			description="COM_GETBIBLE_CONFIG_FONT_SMALL_DESC" 
			first="10" 
			last="15" 
			step="1" />
		<field name="font_medium" 
			type="integer" 
			default="17" 
			label="COM_GETBIBLE_CONFIG_FONT_MEDIUM_LABEL" 
			description="COM_GETBIBLE_CONFIG_FONT_MEDIUM_DESC" 
			first="15" 
			last="20" 
			step="1" />
		<field name="font_large" 
			type="integer" 
			default="20" 
			label="COM_GETBIBLE_CONFIG_FONT_LARGE_LABEL" 
			description="COM_GETBIBLE_CONFIG_FONT_LARGE_DESC" 
			first="20" 
			last="25" 
			step="1" />
			
	</fieldset>
	<fieldset
		name="bookmark"
		label="COM_GETBIBLE_CONFIG_BOOKMARK_FIELDSET_LABEL"
		description="COM_GETBIBLE_CONFIG_BOOKMARK_FIELDSET_DESC">

		<field name="hover_textcolor" type="color" default="#515456"
        label="COM_GETBIBLE_CONFIG_HOVER_TEXTCOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_HOVER_TEXTCOLOR_DESC" />
		
		<field name="hover_background" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_HOVER_BACKGROUND_LABEL"
        description="COM_GETBIBLE_CONFIG_HOVER_BACKGROUND_DESC" />
		
		<field name="hover_linecolor" type="color" default="#FF0000"
        label="COM_GETBIBLE_CONFIG_HOVER_LINECOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_HOVER_LINECOLOR_DESC" />
		
		<field name="hover_linetype"
			type="radio"
			class="btn-group"
			default="dashed"
			label="COM_GETBIBLE_CONFIG_HOVER_LINETYPE_LABEL"
        	description="COM_GETBIBLE_CONFIG_HOVER_LINETYPE_DESC">
			<option
				value="dashed">COM_GETBIBLE_CONFIG_LINEDASHED</option>
			<option
				value="solid">COM_GETBIBLE_CONFIG_LINESOLID</option>
			<option
				value="dotted">COM_GETBIBLE_CONFIG_LINEDOTTED</option>
			<option
				value="none">COM_GETBIBLE_CONFIG_LINENONE</option>
		</field>
		
		<field type="spacer" name="mark_a_spacer" hr="true" />
		
		<field 
			name="mark_a_name"
			type="text" 
			default="Gold" 
			label="COM_GETBIBLE_CONFIG_MARK_NAME_LABEL" 
			description="COM_GETBIBLE_CONFIG_MARK_NAME_DESC" 
		/>
        
		<field name="mark_a_textcolor" type="color" default="#ffd700"
        label="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_DESC" />
		
		<field name="mark_a_background" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_DESC" />
		
		<field name="mark_a_linecolor" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_DESC" />
		
		<field name="mark_a_linetype"
			type="radio"
			class="btn-group"
			default="none"
			label="COM_GETBIBLE_CONFIG_MARK_LINETYPE_LABEL"
        	description="COM_GETBIBLE_CONFIG_MARK_LINETYPE_DESC">
			<option
				value="dashed">COM_GETBIBLE_CONFIG_LINEDASHED</option>
			<option
				value="solid">COM_GETBIBLE_CONFIG_LINESOLID</option>
			<option
				value="dotted">COM_GETBIBLE_CONFIG_LINEDOTTED</option>
			<option
				value="none">COM_GETBIBLE_CONFIG_LINENONE</option>
		</field>
		
		<field type="spacer" name="mark_b_spacer" hr="true" />
		
		<field 
			name="mark_b_name"
			type="text" 
			default="Dark Red" 
			label="COM_GETBIBLE_CONFIG_MARK_NAME_LABEL" 
			description="COM_GETBIBLE_CONFIG_MARK_NAME_DESC" 
		/>
        
		<field name="mark_b_textcolor" type="color" default="#8b0000"
        label="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_DESC" />
		
		<field name="mark_b_background" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_DESC" />
		
		<field name="mark_b_linecolor" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_DESC" />
		
		<field name="mark_b_linetype"
			type="radio"
			class="btn-group"
			default="none"
			label="COM_GETBIBLE_CONFIG_MARK_LINETYPE_LABEL"
        	description="COM_GETBIBLE_CONFIG_MARK_LINETYPE_DESC">
			<option
				value="dashed">COM_GETBIBLE_CONFIG_LINEDASHED</option>
			<option
				value="solid">COM_GETBIBLE_CONFIG_LINESOLID</option>
			<option
				value="dotted">COM_GETBIBLE_CONFIG_LINEDOTTED</option>
			<option
				value="none">COM_GETBIBLE_CONFIG_LINENONE</option>
		</field>
		
		<field type="spacer" name="mark_c_spacer" hr="true" />
		
		<field 
			name="mark_c_name"
			type="text" 
			default="Orange" 
			label="COM_GETBIBLE_CONFIG_MARK_NAME_LABEL" 
			description="COM_GETBIBLE_CONFIG_MARK_NAME_DESC" 
		/>
        
		<field name="mark_c_textcolor" type="color" default="#ff6600"
        label="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_DESC" />
		
		<field name="mark_c_background" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_DESC" />
		
		<field name="mark_c_linecolor" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_DESC" />
		
		<field name="mark_c_linetype"
			type="radio"
			class="btn-group"
			default="none"
			label="COM_GETBIBLE_CONFIG_MARK_LINETYPE_LABEL"
        	description="COM_GETBIBLE_CONFIG_MARK_LINETYPE_DESC">
			<option
				value="dashed">COM_GETBIBLE_CONFIG_LINEDASHED</option>
			<option
				value="solid">COM_GETBIBLE_CONFIG_LINESOLID</option>
			<option
				value="dotted">COM_GETBIBLE_CONFIG_LINEDOTTED</option>
			<option
				value="none">COM_GETBIBLE_CONFIG_LINENONE</option>
		</field>
		
		<field type="spacer" name="mark_d_spacer" hr="true" />
		
		<field 
			name="mark_d_name"
			type="text" 
			default="Yellow" 
			label="COM_GETBIBLE_CONFIG_MARK_NAME_LABEL" 
			description="COM_GETBIBLE_CONFIG_MARK_NAME_DESC" 
		/>
        
		<field name="mark_d_textcolor" type="color" default="#ffff00"
        label="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_DESC" />
		
		<field name="mark_d_background" type="color" default="#d4d4d4"
        label="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_DESC" />
		
		<field name="mark_d_linecolor" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_DESC" />
		
		<field name="mark_d_linetype"
			type="radio"
			class="btn-group"
			default="none"
			label="COM_GETBIBLE_CONFIG_MARK_LINETYPE_LABEL"
        	description="COM_GETBIBLE_CONFIG_MARK_LINETYPE_DESC">
			<option
				value="dashed">COM_GETBIBLE_CONFIG_LINEDASHED</option>
			<option
				value="solid">COM_GETBIBLE_CONFIG_LINESOLID</option>
			<option
				value="dotted">COM_GETBIBLE_CONFIG_LINEDOTTED</option>
			<option
				value="none">COM_GETBIBLE_CONFIG_LINENONE</option>
		</field>
		
		<field type="spacer" name="mark_e_spacer" hr="true" />
		
		<field 
			name="mark_e_name"
			type="text" 
			default="Dark Blue" 
			label="COM_GETBIBLE_CONFIG_MARK_NAME_LABEL" 
			description="COM_GETBIBLE_CONFIG_MARK_NAME_DESC" 
		/>
        
		<field name="mark_e_textcolor" type="color" default="#000080"
        label="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_DESC" />
		
		<field name="mark_e_background" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_DESC" />
		
		<field name="mark_e_linecolor" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_DESC" />
		
		<field name="mark_e_linetype"
			type="radio"
			class="btn-group"
			default="none"
			label="COM_GETBIBLE_CONFIG_MARK_LINETYPE_LABEL"
        	description="COM_GETBIBLE_CONFIG_MARK_LINETYPE_DESC">
			<option
				value="dashed">COM_GETBIBLE_CONFIG_LINEDASHED</option>
			<option
				value="solid">COM_GETBIBLE_CONFIG_LINESOLID</option>
			<option
				value="dotted">COM_GETBIBLE_CONFIG_LINEDOTTED</option>
			<option
				value="none">COM_GETBIBLE_CONFIG_LINENONE</option>
		</field>
		
		<field type="spacer" name="mark_f_spacer" hr="true" />
		
		<field 
			name="mark_f_name"
			type="text" 
			default="Light Blue" 
			label="COM_GETBIBLE_CONFIG_MARK_NAME_LABEL" 
			description="COM_GETBIBLE_CONFIG_MARK_NAME_DESC" 
		/>
        
		<field name="mark_f_textcolor" type="color" default="#63b8ff"
        label="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_DESC" />
		
		<field name="mark_f_background" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_DESC" />
		
		<field name="mark_f_linecolor" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_DESC" />
		
		<field name="mark_f_linetype"
			type="radio"
			class="btn-group"
			default="none"
			label="COM_GETBIBLE_CONFIG_MARK_LINETYPE_LABEL"
        	description="COM_GETBIBLE_CONFIG_MARK_LINETYPE_DESC">
			<option
				value="dashed">COM_GETBIBLE_CONFIG_LINEDASHED</option>
			<option
				value="solid">COM_GETBIBLE_CONFIG_LINESOLID</option>
			<option
				value="dotted">COM_GETBIBLE_CONFIG_LINEDOTTED</option>
			<option
				value="none">COM_GETBIBLE_CONFIG_LINENONE</option>
		</field>
		
		<field type="spacer" name="mark_g_spacer" hr="true" />
		
		<field 
			name="mark_g_name"
			type="text" 
			default="Teal" 
			label="COM_GETBIBLE_CONFIG_MARK_NAME_LABEL" 
			description="COM_GETBIBLE_CONFIG_MARK_NAME_DESC" 
		/>
        
		<field name="mark_g_textcolor" type="color" default="#008080"
        label="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_DESC" />
		
		<field name="mark_g_background" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_DESC" />
		
		<field name="mark_g_linecolor" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_DESC" />
		
		<field name="mark_g_linetype"
			type="radio"
			class="btn-group"
			default="none"
			label="COM_GETBIBLE_CONFIG_MARK_LINETYPE_LABEL"
        	description="COM_GETBIBLE_CONFIG_MARK_LINETYPE_DESC">
			<option
				value="dashed">COM_GETBIBLE_CONFIG_LINEDASHED</option>
			<option
				value="solid">COM_GETBIBLE_CONFIG_LINESOLID</option>
			<option
				value="dotted">COM_GETBIBLE_CONFIG_LINEDOTTED</option>
			<option
				value="none">COM_GETBIBLE_CONFIG_LINENONE</option>
		</field>
		
		<field type="spacer" name="mark_h_spacer" hr="true" />
		
		<field 
			name="mark_h_name"
			type="text" 
			default="Dark Purple" 
			label="COM_GETBIBLE_CONFIG_MARK_NAME_LABEL" 
			description="COM_GETBIBLE_CONFIG_MARK_NAME_DESC" 
		/>
        
		<field name="mark_h_textcolor" type="color" default="#663399"
        label="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_DESC" />
		
		<field name="mark_h_background" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_DESC" />
		
		<field name="mark_h_linecolor" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_DESC" />
		
		<field name="mark_h_linetype"
			type="radio"
			class="btn-group"
			default="none"
			label="COM_GETBIBLE_CONFIG_MARK_LINETYPE_LABEL"
        	description="COM_GETBIBLE_CONFIG_MARK_LINETYPE_DESC">
			<option
				value="dashed">COM_GETBIBLE_CONFIG_LINEDASHED</option>
			<option
				value="solid">COM_GETBIBLE_CONFIG_LINESOLID</option>
			<option
				value="dotted">COM_GETBIBLE_CONFIG_LINEDOTTED</option>
			<option
				value="none">COM_GETBIBLE_CONFIG_LINENONE</option>
		</field>
		
		<field type="spacer" name="mark_i_spacer" hr="true" />
		
		<field 
			name="mark_i_name"
			type="text" 
			default="Light Purple" 
			label="COM_GETBIBLE_CONFIG_MARK_NAME_LABEL" 
			description="COM_GETBIBLE_CONFIG_MARK_NAME_DESC" 
		/>
        
		<field name="mark_i_textcolor" type="color" default="#cc99ff"
        label="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_DESC" />
		
		<field name="mark_i_background" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_DESC" />
		
		<field name="mark_i_linecolor" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_DESC" />
		
		<field name="mark_i_linetype"
			type="radio"
			class="btn-group"
			default="none"
			label="COM_GETBIBLE_CONFIG_MARK_LINETYPE_LABEL"
        	description="COM_GETBIBLE_CONFIG_MARK_LINETYPE_DESC">
			<option
				value="dashed">COM_GETBIBLE_CONFIG_LINEDASHED</option>
			<option
				value="solid">COM_GETBIBLE_CONFIG_LINESOLID</option>
			<option
				value="dotted">COM_GETBIBLE_CONFIG_LINEDOTTED</option>
			<option
				value="none">COM_GETBIBLE_CONFIG_LINENONE</option>
		</field>
		
		<field type="spacer" name="mark_j_spacer" hr="true" />
		
		<field 
			name="mark_j_name"
			type="text" 
			default="Dark Green" 
			label="COM_GETBIBLE_CONFIG_MARK_NAME_LABEL" 
			description="COM_GETBIBLE_CONFIG_MARK_NAME_DESC" 
		/>
        
		<field name="mark_j_textcolor" type="color" default="#006400"
        label="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_DESC" />
		
		<field name="mark_j_background" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_DESC" />
		
		<field name="mark_j_linecolor" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_DESC" />
		
		<field name="mark_j_linetype"
			type="radio"
			class="btn-group"
			default="none"
			label="COM_GETBIBLE_CONFIG_MARK_LINETYPE_LABEL"
        	description="COM_GETBIBLE_CONFIG_MARK_LINETYPE_DESC">
			<option
				value="dashed">COM_GETBIBLE_CONFIG_LINEDASHED</option>
			<option
				value="solid">COM_GETBIBLE_CONFIG_LINESOLID</option>
			<option
				value="dotted">COM_GETBIBLE_CONFIG_LINEDOTTED</option>
			<option
				value="none">COM_GETBIBLE_CONFIG_LINENONE</option>
		</field>
		
		<field type="spacer" name="mark_k_spacer" hr="true" />
		
		<field 
			name="mark_k_name"
			type="text" 
			default="Light Green" 
			label="COM_GETBIBLE_CONFIG_MARK_NAME_LABEL" 
			description="COM_GETBIBLE_CONFIG_MARK_NAME_DESC" 
		/>
        
		<field name="mark_k_textcolor" type="color" default="#00ee76"
        label="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_DESC" />
		
		<field name="mark_k_background" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_DESC" />
		
		<field name="mark_k_linecolor" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_DESC" />
		
		<field name="mark_k_linetype"
			type="radio"
			class="btn-group"
			default="none"
			label="COM_GETBIBLE_CONFIG_MARK_LINETYPE_LABEL"
        	description="COM_GETBIBLE_CONFIG_MARK_LINETYPE_DESC">
			<option
				value="dashed">COM_GETBIBLE_CONFIG_LINEDASHED</option>
			<option
				value="solid">COM_GETBIBLE_CONFIG_LINESOLID</option>
			<option
				value="dotted">COM_GETBIBLE_CONFIG_LINEDOTTED</option>
			<option
				value="none">COM_GETBIBLE_CONFIG_LINENONE</option>
		</field>
		
		<field type="spacer" name="mark_l_spacer" hr="true" />
		
		<field 
			name="mark_l_name"
			type="text" 
			default="Brown" 
			label="COM_GETBIBLE_CONFIG_MARK_NAME_LABEL" 
			description="COM_GETBIBLE_CONFIG_MARK_NAME_DESC" 
		/>
        
		<field name="mark_l_textcolor" type="color" default="#d2691e"
        label="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_DESC" />
		
		<field name="mark_l_background" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_DESC" />
		
		<field name="mark_l_linecolor" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_DESC" />
		
		<field name="mark_l_linetype"
			type="radio"
			class="btn-group"
			default="none"
			label="COM_GETBIBLE_CONFIG_MARK_LINETYPE_LABEL"
        	description="COM_GETBIBLE_CONFIG_MARK_LINETYPE_DESC">
			<option
				value="dashed">COM_GETBIBLE_CONFIG_LINEDASHED</option>
			<option
				value="solid">COM_GETBIBLE_CONFIG_LINESOLID</option>
			<option
				value="dotted">COM_GETBIBLE_CONFIG_LINEDOTTED</option>
			<option
				value="none">COM_GETBIBLE_CONFIG_LINENONE</option>
		</field>
		
		<field type="spacer" name="mark_m_spacer" hr="true" />
		
		<field 
			name="mark_m_name"
			type="text" 
			default="Turquoise" 
			label="COM_GETBIBLE_CONFIG_MARK_NAME_LABEL" 
			description="COM_GETBIBLE_CONFIG_MARK_NAME_DESC" 
		/>
        
		<field name="mark_m_textcolor" type="color" default="#40e0d0"
        label="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_TEXTCOLOR_DESC" />
		
		<field name="mark_m_background" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_BACKGROUND_DESC" />
		
		<field name="mark_m_linecolor" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_MARK_LINECOLOR_DESC" />
		
		<field name="mark_m_linetype"
			type="radio"
			class="btn-group"
			default="none"
			label="COM_GETBIBLE_CONFIG_MARK_LINETYPE_LABEL"
        	description="COM_GETBIBLE_CONFIG_MARK_LINETYPE_DESC">
			<option
				value="dashed">COM_GETBIBLE_CONFIG_LINEDASHED</option>
			<option
				value="solid">COM_GETBIBLE_CONFIG_LINESOLID</option>
			<option
				value="dotted">COM_GETBIBLE_CONFIG_LINEDOTTED</option>
			<option
				value="none">COM_GETBIBLE_CONFIG_LINENONE</option>
		</field>
		
		
	</fieldset>
	<fieldset
		name="search"
		label="COM_GETBIBLE_CONFIG_SEARCH_FIELDSET_LABEL"
		description="COM_GETBIBLE_CONFIG_SEARCH_FIELDSET_DESC">

		<field name="highlight_textcolor" type="color" default="#515456"
        label="COM_GETBIBLE_CONFIG_HIGHLIGHT_TEXTCOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_HIGHLIGHT_TEXTCOLOR_DESC" />
		
		<field name="highlight_background" type="color" default="#fff"
        label="COM_GETBIBLE_CONFIG_HIGHLIGHT_BACKGROUND_LABEL"
        description="COM_GETBIBLE_CONFIG_HIGHLIGHT_BACKGROUND_DESC" />
		
		<field name="highlight_linecolor" type="color" default="#FF0000"
        label="COM_GETBIBLE_CONFIG_HIGHLIGHT_LINECOLOR_LABEL"
        description="COM_GETBIBLE_CONFIG_HIGHLIGHT_LINECOLOR_DESC" />
		
		<field name="highlight_linetype"
			type="radio"
			class="btn-group"
			default="dashed"
			label="COM_GETBIBLE_CONFIG_HIGHLIGHT_LINETYPE_LABEL"
        	description="COM_GETBIBLE_CONFIG_HIGHLIGHT_LINETYPE_DESC">
			<option
				value="dashed">COM_GETBIBLE_CONFIG_LINEDASHED</option>
			<option
				value="solid">COM_GETBIBLE_CONFIG_LINESOLID</option>
			<option
				value="dotted">COM_GETBIBLE_CONFIG_LINEDOTTED</option>
			<option
				value="none">COM_GETBIBLE_CONFIG_LINENONE</option>
		</field>
		
		<field name="highlight_padding"
			type="radio"
			class="btn-group btn-group-yesno"
			default="1"
			label="COM_GETBIBLE_CONFIG_HIGHLIGHT_PADDING_LABEL"
        	description="COM_GETBIBLE_CONFIG_HIGHLIGHT_PADDINGE_DESC">
			<option
				value="1">COM_GETBIBLE_CONFIG_YES</option>
			<option
				value="0">COM_GETBIBLE_CONFIG_NO</option>
		</field>
		<field
			name="highlight_option"
			type="radio" class="btn-group"
			default="1"
			label="COM_GETBIBLE_HIGHLIGHTS_DEFAULTS_LABEL"
			description="COM_GETBIBLE_HIGHLIGHTS_DEFAULTS_DESC">
			<option
				value="1">COM_GETBIBLE_AUTO_HIGHLIGHTS</option>
			<option
				value="2">COM_GETBIBLE_BUTTON_HIGHLIGHTS</option>
			<option
				value="3">COM_GETBIBLE_NONE_HIGHLIGHTS</option>
		</field>
		<field
			name="up_button"
			type="radio" class="btn-group"
			default="1"
			label="COM_GETBIBLE_UP_BUTTON_DEFAULTS_LABEL"
			description="COM_GETBIBLE_UP_BUTTON_DEFAULTS_DESC">
			<option
				value="1">COM_GETBIBLE_UP_FIXED</option>
			<option
				value="2">COM_GETBIBLE_UP_BOTTOM</option>
			<option
				value="3">COM_GETBIBLE_UP_NONE</option>
		</field>
		<field
			name="search_display"
			type="list"
			default="1"
			label="COM_GETBIBLE_SEARCH_DISPLAY_LABEL"
			description="COM_GETBIBLE_SEARCH_DISPLAY_DESC">
			<option
				value="1">COM_GETBIBLE_SEARCH_BUTTON</option>
			<option
				value="2">COM_GETBIBLE_SEARCH_BOX</option>
			<option
				value="3">COM_GETBIBLE_SEARCH_BOX_BUTTON</option>
			<option
				value="4">COM_GETBIBLE_SEARCH_BOX_BUTTON_ADVANCED</option>
			<option
				value="5">COM_GETBIBLE_SEARCH_BOX_ADVANVED</option>
			<option
				value="6">COM_GETBIBLE_SEARCH_NONE</option>
		</field>
		<field 
			name="search_button"
			type="text" 
			default="Search" 
			label="COM_GETBIBLE_SEARCH_BUTTON_LABEL" 
			description="COM_GETBIBLE_SEARCH_BUTTON_DESC" 
		/>
		<field 
			name="advanced_button"
			type="text" 
			default="Advanced" 
			label="COM_GETBIBLE_ADVANCED_BUTTON_LABEL" 
			description="COM_GETBIBLE_ADVANCED_BUTTON_DESC" 
		/>
		<field 
			name="search_phrase"
			type="text" 
			default="search..." 
			label="COM_GETBIBLE_SEARCH_PHRASE_LABEL" 
			description="COM_GETBIBLE_SEARCH_PHRASE_DESC" 
		/>
		<field
			name="search_options"
			type="radio" class="btn-group btn-group-yesno"
			default="1"
			label="COM_GETBIBLE_SEARCH_OPTIONS_LABEL"
			description="COM_GETBIBLE_SEARCH_OPTIONS_DESC">
			<option
				value="1">COM_GETBIBLE_YES</option>
			<option
				value="0">COM_GETBIBLE_NO</option>
		</field>
		<field
			name="search_crit1"
			type="radio" class="btn-group"
			default="1"
			label="COM_GETBIBLE_SEARCH_DEFAULTS_LABEL"
			description="COM_GETBIBLE_SEARCH_DEFAULTS_DESC">
			<option
				value="1">COM_GETBIBLE_ALL_WORDS</option>
			<option
				value="2">COM_GETBIBLE_ANY_WORDS</option>
			<option
				value="3">COM_GETBIBLE_PHRASE</option>
		</field>
		<field
			name="search_type"
			type="radio" class="btn-group"
			default="all"
			label="COM_GETBIBLE_SEARCH_DEFAULTS_LABEL"
			description="COM_GETBIBLE_SEARCH_DEFAULTS_DESC">
			<option
				value="all">COM_GETBIBLE_BIBLE</option>
			<option
				value="ot">COM_GETBIBLE_OT</option>
			<option
				value="nt">COM_GETBIBLE_NT</option>
		</field>
		<field
			name="search_crit2"
			type="radio" class="btn-group"
			default="1"
			label="COM_GETBIBLE_SEARCH_DEFAULTS_LABEL"
			description="COM_GETBIBLE_SEARCH_DEFAULTS_DESC">
			<option
				value="1">COM_GETBIBLE_EXACT_MATCH</option>
			<option
				value="2">COM_GETBIBLE_PARTIAL_MATCH</option>
		</field>
		<field
			name="search_crit3"
			type="radio" class="btn-group"
			default="1"
			label="COM_GETBIBLE_SEARCH_DEFAULTS_LABEL"
			description="COM_GETBIBLE_SEARCH_DEFAULTS_DESC">
			<option
				value="1">COM_GETBIBLE_CASE_INSENSITIVE</option>
			<option
				value="2">COM_GETBIBLE_CASE_SENSITIVE</option>
		</field>
	</fieldset>
	<fieldset
		addfieldpath="/administrator/components/com_getbible/models/fields"
		name="global"
		label="COM_GETBIBLE_CONFIG_GLOBAL_FIELDSET_LABEL"
		description="COM_GETBIBLE_CONFIG_GLOBAL_FIELDSET_DESC">
		
		<field name="jsonQueryOptions"
			type="list"
			default="0"
			label="COM_GETBIBLE_CONFIG_QUERY_OPTIONS_LABEL"
			description="COM_GETBIBLE_CONFIG_QUERY_OPTIONS_DESC">
			<option
				value="0">COM_GETBIBLE_CONFIG_GET_BIBLE_API</option>
			<option
				value="2">COM_GETBIBLE_CONFIG_GET_BIBLE_API_SSL</option>
			<option
				value="1">COM_GETBIBLE_CONFIG_LOCAL_API</option>
		</field>
		
		<field
			name="jsonAPIaccess"
			type="radio"
			default="0"
			label="COM_GETBIBLE_CONFIG_JSON_API_ACCESS_LABEL"
			description="COM_GETBIBLE_CONFIG_JSON_API_ACCESS_DESC">
			<option
				value="1">COM_GETBIBLE_CONFIG_PRIVATE</option>
			<option
				value="0">COM_GETBIBLE_CONFIG_PUBLIC</option>
		</field>
		
		<field name="jsonAPIkey"
			type="text"
			label="COM_GETBIBLE_CONFIG_JSON_API_KEY_LABEL"
			description="COM_GETBIBLE_CONFIG_JSON_API_KEY_DESC"
			size="60"
			default=""
		/>
		
		<field name="installOptions"
			type="list"
			default="1"
			label="COM_GETBIBLE_CONFIG_INSTALL_OPTIONS_LABEL"
			description="COM_GETBIBLE_CONFIG_INSTALL_OPTIONS_DESC">
			<option
				value="1">COM_GETBIBLE_CONFIG_VIA_GET_BIBLE</option>
			<option
				value="0">COM_GETBIBLE_CONFIG_VIA_LOCAL</option>
		</field>
		
		<field name="localInstallFolder" 
			type="text" 
			default="scriptureinstall" 
			label="COM_GETBIBLE_CONFIG_SELECT_LOCAL_FOLDER_LABEL"
			description="COM_GETBIBLE_CONFIG_SELECT_LOCAL_FOLDER_DESC"
		/>
		
		<field type="spacer" name="globacer_1" hr="true" />
		<field name="defaultStartVersion" 
			type="version" 
			default="kjv"
			label="COM_GETBIBLE_CONFIG_DEFAULT_STARTING_VERSION_LABEL"
		/>
		<field name="defaultStartBook"
			type="text"
			label="COM_GETBIBLE_CONFIG_DEFAULT_STARTING_BOOK_LABEL"
			description="COM_GETBIBLE_CONFIG_DEFAULT_STARTING_BOOK_DESC"
			size="60"
			default="John 1"
		/>
		<field name="defaultStartChapter"
			type="text"
			label="COM_GETBIBLE_CONFIG_DEFAULT_STARTING_CHAPTER_LABEL"
			description="COM_GETBIBLE_CONFIG_DEFAULT_STARTING_CHAPTER_DESC"
			size="60"
			default="1"
		/>
		
		<field type="spacer" name="globalspacer_54" hr="true" />
		<field
			name="check_in"
			type="list"
			default="-1 day"
			label="COM_GETBIBLE_CONFIG_CHECK_IN_TIME_LENGTH_LABEL"
			description="COM_GETBIBLE_CONFIG_CHECK_IN_TIME_LENGTH_DESC">
			<option
				value="-5 hours">COM_GETBIBLE_CONFIG_CHECK_IN_EVERY_FIVE_HOURS</option>
			<option
				value="-12 hours">COM_GETBIBLE_CONFIG_CHECK_IN_EVERY_TWELVE_HOURS</option>
			<option
				value="-1 day">COM_GETBIBLE_CONFIG_CHECK_IN_ONCE_A_DAY</option>
			<option
				value="-2 day">COM_GETBIBLE_CONFIG_CHECK_IN_SECOND_DAY</option>
			<option
				value="0">COM_GETBIBLE_CONFIG_CHECK_IN_NEVER</option>
		</field>
		
		<field type="spacer" name="globalspacer_1" hr="true" />
		<field name="globalspacer_0"
			type="spacer"
			label="COM_GETBIBLE_CONFIG_GLOBAL_CONTACT"
		/>
	
		<field name="nameGlobal"
			type="text"
			label="COM_GETBIBLE_CONFIG_GLOBAL_NAME_LABEL"
			description="COM_GETBIBLE_CONFIG_GLOBAL_NAME_DESC"
			size="60"
			default="Llewellyn van der Merwe"
			readonly="true"
			class="readonly"
		/>
		<field name="emailGlobal"
			type="email"
			label="COM_GETBIBLE_CONFIG_GLOBAL_EMAIL_LABEL"
			description="COM_GETBIBLE_CONFIG_GLOBAL_EMAIL_DESC"
			size="60"
			default="info@getbible.net"
			readonly="true"
			class="readonly"
		/>
		
		<field type="spacer" name="globalspacer0" hr="true" />
		<field name="globalspacer1"
			type="spacer"
			label="COM_GETBIBLE_CONFIG_WORKER"
		/>
		
		<field name="worker1"
			type="spacer"
			class="text"
			label="COM_GETBIBLE_CONFIG_WORKER_ONE"
		/>
		<field name="titleWorker1"
			type="text"
			label="COM_GETBIBLE_CONFIG_WORKER_TITLE_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_TITLE_DESC"
			size="60"
			default=""
		/>
		<field name="nameWorker1"
			type="text"
			label="COM_GETBIBLE_CONFIG_WORKER_NAME_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_NAME_DESC"
			size="60"
			default=""
		/>
		<field name="emailWorker1"
			type="email"
			label="COM_GETBIBLE_CONFIG_WORKER_EMAIL_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_EMAIL_DESC"
			size="60"
			default=""
		/>
		<field name="linkWorker1"
			type="url"
			label="COM_GETBIBLE_CONFIG_WORKER_LINK_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_LINK_DESC"
			size="60"
			default=""
		/>
		<field name="useWorker1"
			type="list"
			default="0"
			label="COM_GETBIBLE_CONFIG_WORKER_USE_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_USE_DESC">
			<option value="0">COM_GETBIBLE_CONFIG_WORKER_USE_NONE</option>
  			<option value="1">COM_GETBIBLE_CONFIG_WORKER_USE_EMAIL</option>
  			<option value="2">COM_GETBIBLE_CONFIG_WORKER_USE_WWW</option>
		</field>
		<field name="showWorker1"
			type="list"
			default="0"
			label="COM_GETBIBLE_CONFIG_WORKER_SHOW_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_SHOW_DESC">
			<option value="0">COM_GETBIBLE_CONFIG_WORKER_SHOW_NONE</option>
  			<option value="1">COM_GETBIBLE_CONFIG_WORKER_SHOW_BACK</option>
  			<option value="2">COM_GETBIBLE_CONFIG_WORKER_SHOW_FRONT</option>
			<option value="3">COM_GETBIBLE_CONFIG_WORKER_SHOW_ALL</option>
		</field>
		<field type="spacer" name="globalspacer2" hr="true" />
		
		<field name="worker2"
			type="spacer"
			class="text"
			label="COM_GETBIBLE_CONFIG_WORKER_TWO"
		/>
		<field name="titleWorker2"
			type="text"
			label="COM_GETBIBLE_CONFIG_WORKER_TITLE_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_TITLE_DESC"
			size="60"
			default=""
		/>
		<field name="nameWorker2"
			type="text"
			label="COM_GETBIBLE_CONFIG_WORKER_NAME_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_NAME_DESC"
			size="60"
			default=""
		/>
		<field name="emailWorker2"
			type="email"
			label="COM_GETBIBLE_CONFIG_WORKER_EMAIL_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_EMAIL_DESC"
			size="60"
			default=""
		/>		
		<field name="linkWorker2"
			type="url"
			label="COM_GETBIBLE_CONFIG_WORKER_LINK_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_LINK_DESC"
			size="60"
			default=""
		/>
		<field name="useWorker2"
			type="list"
			default="0"
			label="COM_GETBIBLE_CONFIG_WORKER_USE_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_USE_DESC">
			<option value="0">COM_GETBIBLE_CONFIG_WORKER_USE_NONE</option>
  			<option value="1">COM_GETBIBLE_CONFIG_WORKER_USE_EMAIL</option>
  			<option value="2">COM_GETBIBLE_CONFIG_WORKER_USE_WWW</option>
		</field>
		<field name="showWorker2"
			type="list"
			default="0"
			label="COM_GETBIBLE_CONFIG_WORKER_SHOW_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_SHOW_DESC">
			<option value="0">COM_GETBIBLE_CONFIG_WORKER_SHOW_NONE</option>
  			<option value="1">COM_GETBIBLE_CONFIG_WORKER_SHOW_BACK</option>
  			<option value="2">COM_GETBIBLE_CONFIG_WORKER_SHOW_FRONT</option>
			<option value="3">COM_GETBIBLE_CONFIG_WORKER_SHOW_ALL</option>
		</field>
		<field type="spacer" name="globalspacer3" hr="true" />
		
		<field name="worker3"
			type="spacer"
			class="text"
			label="COM_GETBIBLE_CONFIG_WORKER_THREE"
		/>
		<field name="titleWorker3"
			type="text"
			label="COM_GETBIBLE_CONFIG_WORKER_TITLE_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_TITLE_DESC"
			size="60"
			default=""
		/>
		<field name="nameWorker3"
			type="text"
			label="COM_GETBIBLE_CONFIG_WORKER_NAME_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_NAME_DESC"
			size="60"
			default=""
		/>
		<field name="emailWorker3"
			type="email"
			label="COM_GETBIBLE_CONFIG_WORKER_EMAIL_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_EMAIL_DESC"
			size="60"
			default=""
		/>
		<field name="linkWorker3"
			type="url"
			label="COM_GETBIBLE_CONFIG_WORKER_LINK_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_LINK_DESC"
			size="60"
			default=""
		/>
		<field name="useWorker3"
			type="list"
			default="0"
			label="COM_GETBIBLE_CONFIG_WORKER_USE_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_USE_DESC">
			<option value="0">COM_GETBIBLE_CONFIG_WORKER_USE_NONE</option>
  			<option value="1">COM_GETBIBLE_CONFIG_WORKER_USE_EMAIL</option>
  			<option value="2">COM_GETBIBLE_CONFIG_WORKER_USE_WWW</option>
		</field>
		<field name="showWorker3"
			type="list"
			default="0"
			label="COM_GETBIBLE_CONFIG_WORKER_SHOW_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_SHOW_DESC">
			<option value="0">COM_GETBIBLE_CONFIG_WORKER_SHOW_NONE</option>
  			<option value="1">COM_GETBIBLE_CONFIG_WORKER_SHOW_BACK</option>
  			<option value="2">COM_GETBIBLE_CONFIG_WORKER_SHOW_FRONT</option>
			<option value="3">COM_GETBIBLE_CONFIG_WORKER_SHOW_ALL</option>
		</field>


		<field type="spacer" name="globalspacer4" hr="true" />
		
		<field name="worker4"
			type="spacer"
			class="text"
			label="COM_GETBIBLE_CONFIG_WORKER_FOUR"
		/>
		<field name="titleWorker4"
			type="text"
			label="COM_GETBIBLE_CONFIG_WORKER_TITLE_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_TITLE_DESC"
			size="60"
			default=""
		/>
		<field name="nameWorker4"
			type="text"
			label="COM_GETBIBLE_CONFIG_WORKER_NAME_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_NAME_DESC"
			size="60"
			default=""
		/>
		<field name="emailWorker4"
			type="email"
			label="COM_GETBIBLE_CONFIG_WORKER_EMAIL_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_EMAIL_DESC"
			size="60"
			default=""
		/>
		<field name="linkWorker4"
			type="url"
			label="COM_GETBIBLE_CONFIG_WORKER_LINK_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_LINK_DESC"
			size="60"
			default=""
		/>
		<field name="useWorker4"
			type="list"
			default="0"
			label="COM_GETBIBLE_CONFIG_WORKER_USE_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_USE_DESC">
			<option value="0">COM_GETBIBLE_CONFIG_WORKER_USE_NONE</option>
  			<option value="1">COM_GETBIBLE_CONFIG_WORKER_USE_EMAIL</option>
  			<option value="2">COM_GETBIBLE_CONFIG_WORKER_USE_WWW</option>
		</field>
		<field name="showWorker4"
			type="list"
			default="0"
			label="COM_GETBIBLE_CONFIG_WORKER_SHOW_LABEL"
			description="COM_GETBIBLE_CONFIG_WORKER_SHOW_DESC">
			<option value="0">COM_GETBIBLE_CONFIG_WORKER_SHOW_NONE</option>
  			<option value="1">COM_GETBIBLE_CONFIG_WORKER_SHOW_BACK</option>
  			<option value="2">COM_GETBIBLE_CONFIG_WORKER_SHOW_FRONT</option>
			<option value="3">COM_GETBIBLE_CONFIG_WORKER_SHOW_ALL</option>
		</field>
	</fieldset>
	
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			filter="rules"
			validate="rules"
			component="com_getbible"
			section="component" />
	</fieldset>
</config>